body {
	padding-top: 70px;
	height: 100%;
	background-color: #5f5f5f;
}

#articleContainer {
	margin: 10px;
	text-align: center;
}

.articleBox {
	text-align: left;
	margin-bottom: 5px;
	width: 24%;
	height: 260px;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #494949;
	background-color: #bdbdbd;
	display: inline-block;
}
.articleBox:hover .articleBoxContent {
	height: 254px;
}

a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: black;
}
a:active {
	color: black;
}

.articleBoxContent {
	position: absolute;
	height: 40px;
	padding: 5px;
	background-color: rgba(220, 220, 220, 0.7);
	text-overflow: ellipsis;
	overflow: hidden;
	transition:height 0.3s; 
    -webkit-transition:height 0.3s;
}

.articleBox h4 {
	font-size: 160%;
	width: 100%;
	text-decoration: underline;
}

.articleBox footer {
	width: 100%;
	text-align: right;
}

@media screen and (max-width: 1500px) {
	.articleBox{
		width: 33%;
	}
}

@media screen and (max-width: 1100px) {
	.articleBox{
		width: 49%;
	}
}

@media screen and (max-width: 767px) {
	.articleBox{
		width: 100%;
	}
}